<table>
	<td>
		<tr> Número de Preguntas: [<%= tpreguntas %>] </tr> <br>
		<tr> Número de Comentarios: [<%= tcomentarios %>] </tr> <br>
		<tr> Número medio de comentarios por pregunta: [<%= cporpreg %>] </tr> <br>
		<tr> Número de preguntas sin comentarios: [<%= tpregcoment %>] </tr> <br>
		<tr> Número de preguntas con comentarios: [<%= tpregsincoment %>] </tr>
	</td>
</table>
